---
import { informacion_personal } from "../../../cv.json";

const { nombre, email } = informacion_personal;
---

<section>
    <header>
        <img
            class="me"
            src="https://res.cloudinary.com/dqqw1bfwf/image/upload/v1708032644/aqwvdyyhceoqxl4ghaze.png"
            alt="imagen de Daniel Gualtero "
        />
        <span style="color: #f6bb42;" class="saludo">Hola, soy</span>
        <h1>{nombre}</h1>

        <span style="color: #0099FF;">Desarrollador web Fullstack</span>
        <span style="color: gray ;">Fusagasugá Colombia</span>
        <ul class="redes">
            <li>
                <a href="https://www.linkedin.com/in/daniel-gualtero-1760a0215/" target="_blank" rel="noopener noreferrer" aria-label="Visitar mi LinkedIn">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-linkedin"
                        ><path
                            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                        ></path><rect x="2" y="9" width="4" height="12"
                        ></rect><circle cx="4" cy="4" r="2"></circle></svg
                    >
                    Linkedin
                </a>
            </li>

            <li>
                <a
                    href="https://github.com/Daniel-Esneider-Gualtero-Gonzalez/"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Visitar githab Daniel Esenider Gualtero"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-github"
                    >
                        <path
                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                        ></path>
                    </svg>
                    Github
                </a>
            </li>

            <li>
                <a id="correo" href="mailto:esneidergonzales2020@gmail.com"
                aria-label="Enviar correo a Daniel Esneider Gualtero "
                >
                    {email}

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                       
                    >
                        <>
                            <path
                                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                            ></path>
                            <polyline points="15 3 21 3 21 9"></polyline>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                        </>
                    </svg>
                </a>
            </li>

            <li>
                <a target="_blank"
                    href="https://drive.google.com/file/d/16Y-AmMPcvVM2_lvIi7bidszGeWqh67wh/view?usp=sharing"
                    rel="noreferrer"
                    aria-label="Ver Cv de Daniel Esneider Gualtero en formato pdf almacenado en google drive"
                    >Curriculum</a
                >
            </li>
        </ul>
    </header>
    
</section>

<style>
    section {
        width: 100vw;
        margin-top: 10rem;
        display: flex;
        align-items: center;
    }
    section header {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    section svg {
        width: 23px;
        height: 23px;
    }

    .me {
        width: 40px;
        border-radius: 1rem;
        box-shadow: 0px 4px 6px rgba(0, 153, 255, 0.3);
    }
    .meXl {
        width: 180px;
        height: 90%;
        margin: auto;
        border-radius: 1rem;
        display: none;
        box-shadow: 0px 4px 6px rgba(0, 153, 255, 0.2);
    }

    span {
        display: block;
    }

    p {
        max-width: 350px;
        line-height: 1.6;
        font-size: 20px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
    }

    ul a {
        font-size: 14px;
        background-color: rgba(0, 153, 255, 0.4);
        display: flex;
        align-items: center;
        margin-inline-end: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px;
        border: 1px solid rgba(0, 153, 255, 0);
        padding: 0.3rem;
        transition: transform 150ms ease-in-out;
    }

    ul a:hover {
        background-color: transparent;
        border: 1px solid rgba(0, 153, 255, 0.4);
        transform: scale(1.05);
    }

    @media (min-width: 768px) {
        
        .meSm {
            display: none;
        }
    }

    @media (prefers-color-scheme: dark) {
        ul a {
            background-color: transparent;
            color: wheat;
            background-color: rgba(0, 153, 255, 0.2);
        }
    }
</style>
