---
import { informacion_personal } from "../../../cv.json";

const {nombre,email} = informacion_personal
---

<section>
    <div>
        <img class="meSm" src="../../../images/me.png" alt="imagen de Daniel Gualtero " />
        <span class="saludo">Hola, soy</span>
        <h1>{nombre}</h1>
        <p>
            <span style="color: #0099FF;">Desarrollador web Fullstack</span
            ><span>.</span> De fusagasugá <span style="color: #F6BB42;">Co</span
            ><span style="color: #0099FF;">lom</span><span
                style="color: #DA4453;">bia</span
            >, me encanta crear aplicaciones <span style="color: #F6BB42;"
                >únicas e innovadoras</span
            >.
        </p>

        <article class="redes">
            <a href="#" target="_blank" rel="noopener noreferrer">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    x="0px"
                    y="0px"
                    width="30"
                    height="30"
                    viewBox="0 0 48 48"
                >
                    <path
                        fill="#0078d4"
                        d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5	V37z"
                    >
                    </path>
                    <path
                        d="M30,37V26.901c0-1.689-0.819-2.698-2.192-2.698c-0.815,0-1.414,0.459-1.779,1.364	c-0.017,0.064-0.041,0.325-0.031,1.114L26,37h-7V18h7v1.061C27.022,18.356,28.275,18,29.738,18c4.547,0,7.261,3.093,7.261,8.274	L37,37H30z M11,37V18h3.457C12.454,18,11,16.528,11,14.499C11,12.472,12.478,11,14.514,11c2.012,0,3.445,1.431,3.486,3.479	C18,16.523,16.521,18,14.485,18H18v19H11z"
                        opacity=".05"></path>
                    <path
                        d="M30.5,36.5v-9.599c0-1.973-1.031-3.198-2.692-3.198c-1.295,0-1.935,0.912-2.243,1.677	c-0.082,0.199-0.071,0.989-0.067,1.326L25.5,36.5h-6v-18h6v1.638c0.795-0.823,2.075-1.638,4.238-1.638	c4.233,0,6.761,2.906,6.761,7.774L36.5,36.5H30.5z M11.5,36.5v-18h6v18H11.5z M14.457,17.5c-1.713,0-2.957-1.262-2.957-3.001	c0-1.738,1.268-2.999,3.014-2.999c1.724,0,2.951,1.229,2.986,2.989c0,1.749-1.268,3.011-3.015,3.011H14.457z"
                        opacity=".07"></path>
                    <path
                        fill="#fff"
                        d="M12,19h5v17h-5V19z M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12	c1.521,0,2.458,1.08,2.486,2.499C17,15.887,16.035,17,14.485,17z M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698	c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19h5v2.616C25.721,20.5,26.85,19,29.738,19	c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"
                    >
                    </path>
                </svg>
                Linkedin
            </a>

            <a
                href="https://github.com/Daniel-Esneider-Gualtero-Gonzalez/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="23"
                    height="23"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-github"
                >
                    <path
                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                    ></path>
                </svg>
                Github
            </a>
            <a id="correo" href="mailto:esneidergonzales2020@gmail.com">
                {email}

                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="23"
                height="23"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-external-link"
            >
                <>
                    <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
                    <polyline points="15 3 21 3 21 9" />
                    <line x1="10" y1="14" x2="21" y2="3" />
                </>
            </svg>
            </a>
        </article>
    </div>
    <img class="meXl" src="../../../images/me.png" alt="" />
</section>

<style>
    section {
        width: 100vw;
        margin-top: 10rem;
        display: flex;
    }
    h1 {
        font-size: 2rem;
    }

    .meSm {
        width: 40px;
        border-radius: 1rem;
        box-shadow: 0px 4px 6px rgba(0, 153, 255, 0.3) ;
    }
    .meXl {
        width: 220px;
        height: 90%;
        margin: auto 4rem;
        border-radius: 1rem;
        display: none;
        box-shadow: 0px 4px 6px rgba(0, 153, 255, 0.3) ;
    }

    .saludo {
        display: block;
        color: #f6bb42;
    }
    p {
        max-width: 350px;
        line-height: 1.6;

        font-size: 20px;
    }

    article {
        display: flex;
        margin-top: 1rem;
    }

    article a {
        font-size: 14px;
        background-color: rgba(0, 153, 255, 0.4);
        display: flex;
        align-items: center;
        margin-inline-end: 0.5rem;
        border-radius: 5px;
        border: 1px solid rgba(0, 153, 255, 0.0);
        padding: 0.3rem;
        transition: transform 150ms ease-in-out;
    }

    article a:hover {
        background-color: transparent;
        border: 1px solid rgba(0, 153, 255, 0.4);
        transform: scale(1.05);
    }

    @media (min-width: 768px) {
        .meXl {
            display: block !important;
        }
        .meSm {
            display: none;
        }
    }

    @media (prefers-color-scheme: dark) {
        article a {
            background-color: transparent;
            color: wheat;
            background-color: rgba(0, 153, 255, 0.2);
        }
    }
</style>


