---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Presentation from '../components/sections/Presentation.astro';
import Projects from '../components/sections/Projects.astro'
import Aboutme from '../components/sections/Aboutme.astro'
import Skills from '../components/sections/Skills.astro'
---

<Layout title="Portafolio Daniel Esneider Gualtero Gonzalez.">
	<main>
		<Presentation />
		<Projects />
		<Aboutme />
		<Skills />
	</main>
</Layout>





