---
interface Props {
    
}

---

<article>
    <span class="line"></span>
    <span class="circle"></span>
    <h3>Hobbies</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. asi vel
        soluta officia dolorem saepe.
    </p>
</article>