---
import {informacion_personal} from '../../cv.json'

const {nombre} = informacion_personal
---

<footer>
    <span>&copy; 2024 {nombre}. Todos los derechos reservados.</span>
</footer>

<style>
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 1rem;
        font-size: 0.9rem; 
        box-shadow: 0 2px 4px rgba(0, 153, 255, 0.3);
        
    }
    
    footer a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 153, 255, 0.4);
        border-radius: 5px;
        padding: 0.6rem;
        border: 1px solid rgba(0, 153, 255, 0.0);
        transition: transform 150ms ease-in-out;
    }

    footer a:hover {
        background-color: transparent;
        border: 1px solid rgba(0, 153, 255, 0.4);
        transform: scale(1.05);
    }

    @media (prefers-color-scheme: dark) {
        footer{
            color: wheat;
            box-shadow: 0px 4px 6px rgba(0, 153, 255, 0.1) ;
        }
        footer a {
            background-color: transparent;
            color: wheat;
            background-color: rgba(0, 153, 255, 0.2);
        }
    }
</style>
