---
import ChangeTheme from '../components/ChangeTheme.astro'
---

<nav>
    <ul>
        <li><a href="#misproyectos" aria-label="Ir a la sección de proyectos">Proyectos</a></li>
        <li><a href="#acercademi" aria-label="Ir a la sección de Acerca de mi">Acerca de mi</a></li>
       
        <li> <a href="#mistecnologias" aria-label="Ir a la sección de Habilidades">Tecnologias</a></li>
    </ul>
</nav>

<style>
    nav {
        display: flex;
        align-items: center;
        padding: 1.2rem 0;
        font-size: 0.90rem;
    }
    nav svg {
        width: 0.90rem;
        height: 0,90rem;
    }
    nav ul{
        display: flex;
        flex-wrap: wrap;
        
    }

    nav  a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
        background-color: rgba(0, 153, 255, 0.4);
        margin-bottom: 0.5em;
        border-radius: 5px;
        padding: 0.3em ;
        transition: scale 150ms ease-in-out;
        border: 1px solid rgba(0, 153, 255, 0.0);
    }

    nav  a:hover {
        background-color: transparent;
        border: 1px solid rgba(0, 153, 255, 0.4);
        transform: scale(1.02);
    }   

    @media (prefers-color-scheme: dark) {
        nav ul{
            border-bottom: solid 1px rgba(245, 222, 179, 1) ;
        }
        nav a {
            color: wheat;
            background-color: rgba(0, 153, 255, 0.2);
        }

        nav a:hover {
        transform: scale(1.2);
    }
    }

    @media (min-width: 768px) {
        nav a:hover{
            transform: scale(1.01);
        }
    }
</style>
